---
layout: default
---

<div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Grade 9 MYP Science</h2>
                    </div>
                </div>
        </div>


<div class="row">
        <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Schedule</h3>
                    </div>
                        <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Sunday</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                            </tr>
                            <tr>
                                <td>8:15</td>
                                <td>8:15</td>
                                <td>8:15 9C<td>
                                <td>8:15</td>
                                <td>8:15</td>
                            </tr>
                            <tr>
                                    <td>9:45</td>
                                    <td>9:45 9A</td>
                                    <td>9:45<td>
                                    <td>9:45 9A</td>
                                    <td>9:45</td>
                                </tr>
                                <tr>
                                        <td>11:05 9A</td>
                                        <td>11:0 </td>
                                        <td>11:05<td>
                                        <td>11:05</td>
                                        <td>11:05</td>
                                    </tr>
                                    <tr>
                                            <td>13:05</td>
                                            <td>13:05 9C</td>
                                            <td>13:05 9B<td>
                                            <td>13:05</td>
                                            <td>13:05</td>
                                        </tr>
                                        <tr>
                                                <td>14:15 9B</td>
                                                <td>14:15 9B</td>
                                                <td>14:15 <td>
                                                <td>14:15</td>
                                                <td>14:15 9C</td>
                                            </tr>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Useful Links</h3>
                    </div>
                        <div class="panel-body">
                            <a href="http://www.feynmanlectures.caltech.edu/">The Feynman Lectures</a>
                    </div>
                </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Resources</h3>
                    </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                        <a href="{{site.baseurl}}1/download/Physics_Data_Booklet_2016.pdf" download>Download the IB Physics Data Booklet</a>
                                </li>
                            </ul>  
                        </div>
                    </div>    
                            
        </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Grade 9</th>
                <th>Key Concept</th>
                <th>Related Concepts</th>
                <th>Global Context</th>
                <th>Assessment Criteria</th>
            </tr>
            <tr>
                <td>Scientific Method</td>
                <td>Relationships</td>
                <td>
                    <ul>
                        <li>Communication</li>
                        <li>Function</li>
                        <li>Evidence</li>
                    </ul>
                </td>
                <td>Siecntific and Technical Innovation</td>
                <td>B,C</td>
            </tr>
            <tr>
                <td>The Eye and Seeing, Waves, Particles, and Radiation</td>
                <td>Relationships</td>
                <td><ul>
                    <li>Consequences</li>
                    <li>Energy</li>
                    <li>Evidence</li>
                    <li>Form</li>
                </ul></td>
                <td>Siecntific and Technical Innovation</td>
                <td>
                    <ul>
                        <li>B,C Investigating the factors affecting the period of an oscillation of a pendulum</li>
                        <li>D Lasik Surgery</li>
                </td>
            </tr>
            <tr>
                <td>Cells and Enzymes, hormones, and homeostasis</td>
                <td>Change</td>
                <td><ul>
                    <li>Consequences</li>
                    <li>Interaction</li>
                    <li>Transformation</li>
                </ul></td>
                <td>Siecntific and Technical Innovation</td>
                <td>
                    <ul>
                        <li>B,C Factors affecting enzymes
                        <li>D Hormones and homeostasis presentations</li>
                </td>
            </tr>
            <tr>
                <td>Rates and Equilibria</td>
                <td>Systems</td>
                <td><ul>
                    <li>Models</li>
                    <li>Patterns</li>
                </ul></td>
                <td>Siecntific and Technical Innovation</td>
                <td>
                    <ul>
                        <li>B,C Factors affecting the rate of a reaction
                        <li>A Test</li>
                </td>
            </tr>
            <tr>
                <td>Chemical Bonding</td>
                <td>Change</td>
                <td><ul>
                    <li>Balance</li>
                    <li>Movement</li>
                </ul></td>
                <td>Siecntific and Technical Innovation</td>
                <td>
                    <ul>
                        <li>D Allotropes of carbon</li>
                    </ul>
                </td>
            </tr>

        </table>
    </div>
</div>

</div>
<ol>
{% for article in site.categories.g9 %}
	
{% include posts.html %}

<br>
{% endfor %}
</ol>