---
layout: default
---

<div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Grade 10 Pre-DP</h2>
                    </div>
                </div>
        </div>
    <div class="row">
            <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Schedule</h3>
                        </div>
                            <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>Sunday</th>
                                    <th>Wednesday</th>
                                </tr>
                                <tr>
                                    <td>8:15</td>
                                    <td>11:05</td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Useful Links</h3>
                        </div>
                            <div class="panel-body">
                                <a href="http://www.feynmanlectures.caltech.edu/">The Feynman Lectures</a>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Resources</h3>
                        </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                            <a href="{{site.baseurl}}1/download/Physics_Data_Booklet_2016.pdf" download>Download the IB Physics Data Booklet</a>
                                    </li>
                                </ul>  
                            </div>
                        </div>    
                                
            </div>
    </div>
</div>

<ol>
{% for article in site.categories.predp %}
	
{% include posts.html %}

<br>
{% endfor %}
</ol>
