---
layout: default
---

<div class="container">
	<div class="page-header">
		<h1>Welcome to MYP Science and Physics at GIS</h1>
		<p class="lead">Science, from the latin word <i>scientia</i>, or knowledge, is the systematic study of the structure and behaviour of the physical and natural world through empirical evidence, that is, from observation and experimentation.This word generalizes the concept of <i>natural philosophy</i>, or love for studying nature, as the set of physical and natural sciences was known before the 19th century. At GIS, we foster a passion for learning about nature, continuously improving our students' investigative skills, so that they may grow into scholars that sponsor and curate knowledge.</p>
		<p class="lead">Physics is the most fundamental of sciences, as it aims to provide answers about the nature of the building blocks of the Universe, what they are and how they behave. Research in Physics has laid the ground work for the development of most technologies and continues to be a driving force in shaping what our everyday lives look like. </p>
	</div>

	<div class="row">
		<div class="col-md-9" style="height: 50px">
			<h3 class="text-primary">Latest Articles</h3>
			<ul class="list-group">
			
				{% for article in site.categories.articles limit:3 %}
						
				{% include posts.html %}

				<br>

			{% endfor %}
			</ul>
		</div>


		<div class="col-md-3  bg-primary text-white" style="height: 50px">

			<h3><i class="fa fa-newspaper-o" aria-hidden="true"></i style="color: white;"> News</h3>

			<ul class="list-group">
			{% for article in site.posts limit:10 %}

				<li class="list-group-item">
					  	  <a href="{{site.baseurl}}{{article.url}}">{{article.title}}</a>
				</li>  
			{% endfor %}
			</ul>
		</div>
	</div>


</div>
