<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/"><img style= "height: 30px" src="{{site.baseurl}}/img/PaciosPixelated.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	<li class="{% if page.url contains 'about' %}active{% endif %}"><a href="{{site.baseurl}}/about/">About<span class="sr-only"></span></a></li>

		<li class="dropdown {% if page.url contains 'classes' %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/Grade7">Grade 7</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{site.baseurl}}/Grade9">Grade 9</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{site.baseurl}}/Grade10PreDP">Grade 10 Pre-DP</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{site.baseurl}}/DPPhysicsYear1">DP Physics Year 1</a></li>
          </ul>
        </li>

      			<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clubs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/CC">Coding Club</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{site.baseurl}}/ChessClub">Chess Club</a></li>
          </ul>
        </li>
        
        <li class="{% if page.url contains 'resources' %}active{% endif %}"><a href="{{site.baseurl}}/resources">Resources</a></li>

        <li class="{% if page.url contains 'allarticles' %}active{% endif %}"><a href="{{site.baseurl}}/allarticles">Articles</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
